:root {
    --color-black: #111111;
    --color-light-black: #444444;
    --color-gray: #dddddd;
    --color-white: #ffffff;
    --color-primary: #48cde5;
    --color-secondary: #222650;
    --font-heading: 'Montserrat', sans-serif;
    --font-text: 'Montserrat', sans-serif;
;
}