---
layout: default
title: "home"
order: 1
---
<div class="container py-4">
    <h2>hi.</h2>
    <p>I’m bjarne. I’m a software enthusiast.</p>
    <p>currently based in Hamburg.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div  class="mb-3">
          <h2>projects</h2>
        </div>

      {%for project in site.projects limit: 30%}
        {%include project.html title = project.title url = project.url img = project.img description = project.description%}
      {%endfor%}
        <a href="projects.html" class="button button-primary">see all Projects</a>

      </div>

    </div>
  </div>
